$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1440px;

@mixin tablet-up {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop-up {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-large-up {
  @media screen and (min-width: $desktop-large) {
    @content;
  }
}