.c-login {
  width: 100%;
  max-width: 400px;
  padding: 1rem;

  h1 {
    margin-left: .3rem;
  }
}

.c-login-form {
  margin-top: 2rem;
}

.c-login-form--register {
  font-weight: fw('medium');

  a {
    color: colors('aqua-blue');
  }

  a:hover, a:active {
    color: colors('teal');
  }
}

.c-login-form--submit {
  -webkit-appearance: none;
  background-color: colors('aqua-blue');
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: .3rem;
  padding: .5rem 0;
  width: 40%;
  font-weight: fw('semi-bold');
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  margin: .5rem 0;
  margin-right: .5rem;
  transition: color, background-color .2s linear;

  &:hover, &:active {
    background-color: colors('teal');
  }
}

.c-login-form--signup {
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  color: colors('aqua-blue');
  text-transform: uppercase;
  border-radius: .3rem;
  transition: color, background-color .2s linear;
  font-size: .9rem;

  &:hover, &:active {
    color: colors('teal');
  }
}