.c-edit-profile {
  padding: 1rem 0;

  @include tablet-up {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-column-gap: 1rem;
    grid-auto-rows: minmax(fit-content, auto);
  }
}

.c-edit-profile--menu {
  margin-right: 1rem;

  @include tablet-up {
    margin-right: 0;
    grid-row: 1;
    grid-column: 1 / 4;
  }
}

.c-edit-profile--menu-item {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 0;
  padding: .5rem 1rem;
  color: colors('dark-grey');

  &.active {
    color: white;
    background-color: colors('aqua-blue');
  }

  @include tablet-up {
    text-align: right;
  }
}

.c-edit-profile--forms {
  padding: 0 1rem;

  @include tablet-up {
    padding: 0;
    grid-row: 1;
    grid-column: 4 / 12;
  }

  @include desktop-up {
    grid-column: 5 / 11;
  }
}

.c-edit-profile--form {
  display: none;

  &.active {
    display: block;
  }
}

// plugin styles overwrite
#wpua-preview-existing {
  display: block !important;

  img {
    height: auto !important;
    max-height: initial !important;
    max-width: 100% !important;
    object-fit: cover;
    object-position: center;
  }

  span {
    display: none;
  }
}

#wpua-thumbnail-existing,
#wpua-remove-button-existing,
#wpua-undo-button-existing {
  display: none !important;
}

#wpua-upload-existing {
  border: none;
  padding: .5rem;
}

p.submit {
  display: none;
}