.c-register-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @include tablet-up {
    max-width: 400px;
  }
}

.c-multistep-form {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.c-multistep-form--step {
  min-width: 100%;
  transition: transform .2s linear;
  overflow-y: auto;
}

.c-register-form--navigation {
  height: 60px;
  display: flex;
  flex-direction: row;

  [data-nav-button] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0;
    border: none;
    color: colors('grey');

    &:hover {
      background-color: inherit;
      color: inherit;
    }
    
    &:active {
      background-color: rgba(#000000, .1);
      color: colors('dark-grey');
    }

    &.hidden {
      display: none;
    }

    &.nonvisible {
      visibility: hidden;
    }
  }
}

.c-register-form--navigation--bullets {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  [data-bullet] {
    width: .8rem;
    height: .8rem;
    margin: 0 .8rem;
    border-radius: 50%;
    background-color: colors('light-grey');
    transition: background-color .2s linear;
  }

  [data-bullet].active {
    background-color: colors('aqua-blue');
    box-shadow: 0 0 10px 0 rgba(#ddd, 1);
  }
}

.c-register-form--submit {
  -webkit-appearance: none;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: .3rem;
  color: colors('aqua-teal');
  border: none;
  flex: 1;
  padding: 0;

  &.visible {
    display: flex;
  }

  &:active, &:enabled:hover {
    background-color: inherit;
    color: colors('teal');
  }
}

.c-register-form--submit-text.hidden {
  display: none;
}

.la-ball-clip-rotate.aqua-blue {
  color: colors('aqua-blue');

  &.hidden {
    display: none;
  }
}