.c-tutor-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-auto-rows: auto;
}

.c-tutor {
  grid-column: span 1;
  border-radius: .3rem;
  border: 1px solid colors('light-grey');
  padding: .5rem;
  text-align: center;
  transition: all .2s linear;

  &.selected {
    border-color: colors('aqua-blue');
    box-shadow: 0 0 10px 0 rgba(200, 200, 200, .3);
  }
}

.c-tutor--avatar {
  width: 100%;
}

.c-tutor--languages {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  font-size: fs('small');
}

.c-tutor--language {
  margin: .5rem 0;
  display: block;
  text-align: left;
}